body{
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.ROW{
    display: flex;
    justify-content: center;
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.btn-buy{
    border: none;
    padding: 10px;
    background:#13eeca;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
.btn-delete{
    border: none;
    padding: 10px;
    background:#cf738f;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}
.btn-buy:hover, .btn-delete:hover{
    opacity: 0.7;
}

.price-amount{ font-size: 15px; font-weight: bold;}
.price-label{}


.COL{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    width: 80px;
    text-align: center;
}
.COL:hover{
    opacity: 0.8;
}
.COL.A{
    background-color: lightblue;
}
.COL.S{
    background-color: rgb(85, 168, 196) !important;
}
.COL.D,
.COL.DB{
    background-color: #ededed !important;
    pointer-events: none;
}
.COL.B{
    background-color: #7a7a7a !important;
    color: #fff;
    pointer-events: none;
}
