.ROW{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ROW-MARK{
    display: flex;
    justify-content: center;
    align-items: center;
}
.COL{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
}
.COL:hover{
    opacity: 0.8;
}
.COL{
    background: lightblue;
}
.COL.selected{
    background: rgb(85, 168, 196);
}
.COL.disabled{
    background: #ededed;
    pointer-events: none;
}
